@media (max-width: 884px) {
    nav .logo {
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .nav-container .links {
        display: none;
    }

    .hamburg,
    .cancel {
        display: block;
    }

    .main-container .content {
        width: 90%;
        text-align: center;
        margin-bottom: 20px;
    }

    .main-container .image {
        width: 70%;
        height: auto;
    }

    .social-links i {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.2rem;
    }

    .content button {
        width: 70%;
        margin-top: 15px;
    }
}

@media (max-width: 440px) {
    nav .logo {
        font-size: 1.2rem;
        left: 10px;
    }

    .main-container .image {
        width: 80%;
        height: auto;
        margin-bottom: 10px;
    }

    .main-container .content {
        width: 95%;
        text-align: center;
        font-size: 90%;
    }

    .content h1 {
        font-size: 1.5rem;
    }

    .content .typewriter {
        font-size: 1.8rem;
    }

    .content p {
        font-size: 0.9rem;
    }

    .social-links i {
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
    }

    .content button {
        width: 80%;
        margin-top: 10px;
    }
}
